*{
    padding: 0;
    margin: 0;
}

body
{
    padding-left: 1000px;
    background-color: black;
}






#Exb_Events_slider_container
{
  width: 1300px;
}

.slide_show_piece
{
  margin: 20px;/*spaces out the slides*/
}






.Exb_Events_imgs
{
  width: 394px;
  height: 250px;
}

