*{
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style-type: none;
  font-family: sans-serif;
  border: none;

  color: rgb(255, 255, 255);
  font-size: 1.1rem;
}
 
body
{
  background-color: black;
  margin: 40px;
}


